
<div class='container main-container' id='applicants-all'>

    <span id="applicants-heading">
        <div ng-show="!stagesWithApplicants.0.applicants.length" id="no-pending-container"></div>
        <div ng-show="stagesWithApplicants.0.applicants.length" id="pending-container">
            <h4 class="title">Pending</h4>
            <span class="pending-applicant" ng-repeat="applicant in stagesWithApplicants.0.applicants"><a href="/applicant?id={{applicant.id}}">{{applicant.name}}</a></span>
        </div>
            <!-- Button trigger modal -->
            <button onclick="$('#newApplicantModal').modal('show');" class="add-btn btn btn-success">+</button>
            <h2 id="applicants-heading-title">All Applicants</h2>
    </span>

<div id="stages-container" class="row">


  <div class="stage-column" ng-repeat="stage in stagesWithApplicants" ng-show="stage.name!='Pending'&&stage.name!='Hired'">
    <span class="stage-column-title-container">
        <h4>{{stage.applicants.length}}</h4>
        <h5>{{stage.name}}</h5>
    </span>
    <div class="stage-column-inner well">
        <div class="applicant-card" ng-repeat="applicant in stage.applicants" ng-click="goTo('/applicant?id={{applicant.id}}')">
            <a href="/applicant?id={{applicant.id}}">
            <span class="applicant-card-name">{{applicant.name}}</span>
            <span class="applicant-card-position">{{applicant.position}}</span>
            <a class="applicant-card-goalie" href="/interviewer?id={{applicant.goalie}}"><img src="/img/brandon_diamond.png" width="20px">{{interviewersMap[applicant.goalie].name}}</a>
        </a>
        </div>
    </div>
</div>


</div>

<div id="rejected-hired-container" class="row">
    <div class="col-md-6">
    <div id="applicants-container" class="panel panel-danger">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <span>Rejected</span>
            <input class='search' id='search-applicants' type="search" ng-model="applicants_filter" placeholder="TODO: MAKE THIS FILTER" />
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Last Stage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="applicant in rejectedApplicants | filter:applicants_filter | orderBy:'asof'" class="completed-{{applicant.completed}}">
                        <td class="applicant-name"><a href="/applicant?id={{applicant.id}}">{{applicant.name}}</a></td>
                        <td class="applicant-position">{{applicant.position}}</td>
                        <td class="last-stage">{{applicant.stage}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="col-md-6">
    <div id="applicants-container" class="panel panel-success">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <span>Hired</span>
            <input class='search' id='search-applicants' type="search" ng-model="applicants_filter" placeholder="TODO: MAKE THIS FILTER" />
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="applicant in stagesWithApplicants.100.applicants | filter:applicants_filter | orderBy:'asof'" class="completed-{{applicant.completed}}">
                        <td class="applicant-name"><a href="/applicant?id={{applicant.id}}">{{applicant.name}}</a></td>
                        <td class="applicant-position">{{applicant.position}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>



    <div id="applicants-container" class="panel panel-primary">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <button id="add-applicant-button" onclick="$('#newApplicantModal').modal('show');" class="add-btn btn btn-success">+</button>
            <span>Applicants</span>
            <input class='search' id='search-applicants' type="search" ng-model="applicants_filter" placeholder="TODO: MAKE THIS FILTER" />
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Goalie</th>
                        <th>Stage</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="applicant in applicantsList | filter:applicants_filter | orderBy:'asof'" class="completed-{{applicant.completed}} failed-{{applicant.pass}}">
                        <td class="applicant-name"><a href="/applicant?id={{applicant.id}}">{{applicant.name}}</a></td>
                        <td class="applicant-position">{{applicant.position}}</td>
                        <td class="applicant-goalie">{{interviewersMap[applicant.goalie].name}}</td>
                        <td class="applicant-tasks-ratio">{{stagesWithApplicants[applicant.stage].name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  <!-- New Applicant Modal -->
  <div class="modal fade" id="newApplicantModal" ng-model="new_applicant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form ng-submit="addApplicant(new_applicant)" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">New Applicant</h2>
        </div>
        <div class="modal-body">
            <div id='new-applicant-status' >
                <h3 class="status">Pending</h3>
                <select class="cursor-pointer" ng-model="new_applicant.stage" ng-options="stage.name for stage in stagesList"> <option value="">-</option></select>
            </div>
                        <span class='new-input-container'>Name: <input type='text' required placeholder='Angelina Jolie' ng-model='new_applicant.name'></span>
                        <span required class='new-input-container'>Position: <input type='text' placeholder='Developer' ng-model='new_applicant.position'></span>
                        <span class='new-input-container'>Hiring Manager: <select required ng-model="new_applicant.goalie" ng-options="interviewer.name for interviewer in interviewersList">
                            <option value="">-select-</option>
                        </select></span>
                        <span class='new-input-container'>Phone number: <input type='text' placeholder='222-333-4444' ng-model='new_applicant.phone'></span>
                        <span class='new-input-container'>Email: <input type='email' placeholder='angie.jolie@gmail.com' ng-model="new_applicant.email"></span>
                        <span class='new-input-container'>Link to resume: <input type='text' placeholder='www.linkToSharedGoogleDrive.com' ng-model='new_applicant.resume'></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
          <button type="submit" class="btn btn-success">SAVE</button>
        </div>
      </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

