
<div class='container main-container' id='applicants-all'>

    <div id="applicants-container" class="panel panel-primary">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <button id="add-applicant-button" onclick="$('#newApplicantModal').modal('show');" class="add-btn btn btn-success">+</button>
            <span>Applicants</span>
            <input class='search' id='search-applicants' type="search" ng-model="applicants_filter" placeholder="TODO: MAKE THIS FILTER" />
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Goalie</th>
                        <th>Tasks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="applicant in applicantsList | filter:applicants_filter | orderBy:'asof'">
                        <td class="applicant-name"><a href="/applicant?id={{applicant.id}}">{{applicant.name}}</a></td>
                        <td class="applicant-position">{{applicant.position}}</td>
                        <td class="applicant-goalie">{{interviewersMap[applicant.goalie].name}}</td>
                        <td class="applicant-tasks-ratio">{{applicant.complete_tasks}}/{{applicant.total_tasks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  <!-- New Applicant Modal -->
  <div class="modal fade" id="newApplicantModal" ng-model="new_applicant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form ng-submit="addApplicant(new_applicant)" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">New Applicant</h2>
        </div>
        <div class="modal-body">
                        <span class='new-input-container'>Name: <input type='text' required placeholder='Angelina Jolie' ng-model='new_applicant.name'></span>
                        <span required class='new-input-container'>Position: <input type='text' placeholder='Developer' ng-model='new_applicant.position'></span>
                        <span class='new-input-container'>Goalie: <select required ng-model="new_applicant.goalie" ng-options="interviewer.name for interviewer in interviewersList">
                            <option value="">-select-</option>
                        </select></span>
                        <span class='new-input-container'>Phone number: <input type='text' placeholder='222-333-4444' ng-model='new_applicant.phone'></span>
                        <span class='new-input-container'>Email: <input type='email' placeholder='angie.jolie@gmail.com' ng-model="new_applicant.email"></span>
                        <span class='new-input-container'>Link to resume: <input type='text' placeholder='www.linkToSharedGoogleDrive.com' ng-model='new_applicant.resume'></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
          <button type="submit" class="btn btn-success">SAVE</button>
        </div>
      </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

