
<a ng-class ng-click="deleteApplicant()" class="delete-link">DELETE</a>

<div class='container main-container' id='applicant-page'>

    <h2 id='failed-banner' class='red text-center' ng-show="applicant.pass==0">FAILED</h2>

    <div id='applicant-info' class='row'>
        <div class="index-half-left col-xs-5 col-md-5 text-left">
            <h3><span ng-show='editApplicantInfo==false'>{{applicant.name}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.name'></h3>
            <p><em>Position:</em> <span ng-show='editApplicantInfo==false'>{{applicant.position}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.position'></p>
            <p><em>Goalie:</em> <span ng-show='editApplicantInfo==false'>{{interviewersMap[applicant.goalie].name}}</span>
                <select ng-show='editApplicantInfo==true' ng-model="applicant.goalie" ng-options="interviewer.name for interviewer in interviewersList">
                    <option value="applicant.goalie">-select-</option>
                </select>
            </p>
        </div>
        <div id='applicant-info-well' class="well index-half-right col-xs-5 col-md-5 text-left">
            <button id='updateApplicantInfo-btn' ng-click="updateApplicantInfo()" class="float-right btn btn-default"><h3>Edit</h3></button>
            <p><em>Resume: </em> <span ng-show='editApplicantInfo==false'><a ng-href='{{applicant.resume}}'> View</a></span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.resume'></p>
            <p><em>Email:</em> <span ng-show='editApplicantInfo==false'>{{applicant.email}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.email'></p>
            <button ng-show='editApplicantInfo==true' id='failApplicantInfo-btn' ng-click="applicant.pass=0" class="float-right btn btn-danger"><h5>FAIL</h5></button>
            <p><em>Phonenumber:</em> <span ng-show='editApplicantInfo==false'>{{applicant.phone}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.phone'></p>
        </div>
    </div>


    <div id="tasks-container" class="panel panel-primary">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <button id="add-task-button" onclick="$('#newTaskModal').modal('show');" class="add-btn btn btn-success">+</button>
            <span>Tasks</span>
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Task</th>
                        <th>Date</th>
                        <th>Assignee</th>
                        <th>Feedback Due</th>
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="addNew==true">
                        <td><button id="add-task" ng-click="addTask()" class="btn btn-success">POST</button></td>
                        <td><input type='text' placeholder='Task name' ng-model='new_task.name'></td>
                        <td><input type='text' placeholder='Role' ng-model='new_task.role'></td>
                        <td>
                            <select ng-model="new_task.goalie" ng-options="interviewer.name for interviewer in interviewers">
                                <option value="">-select-</option>
                            </select>
                        </td>
                    </tr>

                    <tr ng-repeat="task in totalTasks | orderBy:'date'">
                        <td><button id="add-task" ng-click="editTask()" class="btn btn-warning small-btn">EDIT</button></td>
                        <td class="task-title"><a href="/applicant/{{applicant.id}}">{{task.title}}</a></td>
                        <td class="task-date">{{task.date | date:'MM/dd/yyyy @ h:mma'}}</td>
                        <td class="task-assignee">{{interviewersMap[task.interviewer].name}}</td>
                        <td class="task-feedback-due">{{task.feedback_due | date:'MM/dd/yyyy @ h:mma'}}</td>
                        <td class="task-feedback-due">{{task.feedback}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- New Task Modal -->
  <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form ng-submit="addTask(new_task)" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">New Task</h2>
        </div>
        <div class="modal-body">
            <span class='new-input-container'>Title: <input id='new-task-title' required type='text' size="25" placeholder='eg, phone screen' ng-model='new_task.title'></span>
            <span class='new-input-container'>Interviewer assigned: 
                <select required id='new-task-interviewer' ng-model="new_task.interviewer" ng-options="interviewer.name for interviewer in interviewersList">
                    <option value="">-select-</option>
                </select>
            </span>
            <span class='new-input-container'>Date occurring: 
                <input required size="10" data-date-format="dd-mm-yyyy" placeholder="Choose Date" type="text" value="" id="new-task-date" ng-required="new_task.date" >
            </span>
            <span class='new-input-container'>Feedback due: 
                <input required size="10" data-date-format="dd-mm-yyyy" placeholder="Choose Date" type="text" value="" id="new-task-feedback-due" ng-required="new_task.feedback_due" >
            </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
          <button type="submit" class="btn btn-success">SAVE</button>
        </div>
      </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

    <link href="lib/date-picker/datepicker.css" rel="stylesheet">
    <script src="lib/date-picker/bootstrap-datepicker.js"></script>
