
<a ng-class ng-click="deleteApplicant()" class="delete-link">DELETE</a>

<div class='container main-container' id='applicant-page'>

    <div id='applicant-stage-container'>
        <div class="prev-stage-{{applicant.stage > stage.number}} current-stage-{{applicant.stage == stage.number && applicant.pass==1}} future-stage-{{applicant.stage < stage.number}} red-{{applicant.stage==stage.number && applicant.pass==0}} stage-column" ng-repeat="stage in stagesList" ng-show="stage.name!='Pending'&&stage.name!='Hired'">
            <span class="btn btn-xs btn-default" ng-show='applicant.stage == 0 && stage.number==1' ng-click="incrStage()">&rArr;</span>
            <h6 class='cursor-pointer' ng-click="setShowStage(stage.number)">{{stage.name}}</h6>
            <span class="btn btn-xs btn-default" ng-show='applicant.stage>1 && (applicant.stage-1)==stage.number' ng-click="decrStage()">&lArr;</span>
            <span class="btn btn-xs btn-default" ng-show='applicant.stage == stage.number' ng-click="incrStage()">&rArr;</span>
        </div>
        <div ng-disabled="applicant.stage<6 || applicant.pass==0" class="btn btn-success btn-sm" ng-click="passApplicant()">PASS</div>

    </div>

    <h3 id='hired-banner' class='green text-center' ng-show="applicant.stage==100">HIRED</h3>

    <h3 id='failed-banner' class='red text-center' ng-show="applicant.pass==0">FAILED</h3>

    <div id='applicant-info' class='row'>
        <div class="index-half-left col-xs-5 col-md-5 text-left">
            <h3><span ng-show='editApplicantInfo==false'>{{applicant.name}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.name'></h3>
            <p><em>Position:</em> <span ng-show='editApplicantInfo==false'>{{applicant.position}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.position'></p>
            <p><em>Hiring Manager:</em> <a ng-href="/interviewer?id={{applicant.goalie}}" ng-show='editApplicantInfo==false'>{{interviewersMap[applicant.goalie].name}}</a>
                <select ng-show='editApplicantInfo==true' ng-model="applicant.goalie" ng-options="interviewer.name for interviewer in interviewersList">
                    <option value="">{{interviewersMap[applicant.goalie].name}}</option>
                </select>
            </p>
            <p><em>Referral:</em> <span ng-show='editApplicantInfo==false'>{{applicant.referral}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.referral'></p>
        </div>
        <div id='applicant-info-well' class="well index-half-right col-xs-5 col-md-5 text-left">
            <button id='updateApplicantInfo-btn' ng-click="updateApplicantInfo()" class="float-right btn btn-default"><h3>Edit</h3></button>
            <p>
                <em>Resume: </em> 

                <span ng-show='editApplicantInfo==false'>
                    <a ng-show="applicant.resume_url!=''" target="_blank" ng-href='{{applicant.resume_url}}'> View</a>
                    <span ng-show="applicant.resume_url==''">No resume uploaded</span>
                </span>

                <span id='file-upload-container' ng-show='editApplicantInfo==true'>
                    <input type="file" ng-model="applicant.resume_url" onchange="angular.element(this).scope().attachApplicantResume(this)" />
                </span> 

            </p>
            <p><em>Email:</em> <span ng-show='editApplicantInfo==false'>{{applicant.email}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.email'></p>
            <button ng-show='editApplicantInfo==true && applicant.pass==1' id='failApplicantInfo-btn' ng-click="applicant.pass=0; applicant.completed=1" class="float-right btn btn-danger"><h5>FAIL</h5></button>
            <button ng-show='editApplicantInfo==true && applicant.pass==0' id='failApplicantInfo-btn' ng-click="applicant.pass=1;" class="float-right btn btn-warning"><h5>remove fail</h5></button>
            <p><em>Phonenumber:</em> <span ng-show='editApplicantInfo==false'>{{applicant.phone}}</span><input ng-show='editApplicantInfo==true' type='text' ng-model='applicant.phone'></p>
        </div>
    </div>

    <div id='homework-container' class='panel panel-default asset-container' ng-model='new_homework' ng-show="showStage==1||showStage==2">
        <div class='panel-heading'>
            <span ng-show='homework'>Homework</span>
            <span ng-show='!homework'><em>No Homework Attached:</em> upload new</span>
            <button ng-disabled='!homework && !new_homework' class='btn btn-default float-right' ng-click='saveHomework()'>Save</button>
            <button ng-click='deleteHomework()' ng-show='homework' ng-click='deleteHomework' class='btn btn-default float-right red'>&times;</button>
        </div>
        <div class='panel-body'>
            <div ng-show="!homework" id='no-homework-attached-container'>
                {{new_homework}}
                
                <form>
                    <label>Homework Prompt</label><textarea ng-model='new_homework.prompt'></textarea>
                    <label>Applicant's Answer</label>
                    <input id='new-homework-attachment' type='file' ng-model='new_homework.attachment' />
                    <textarea ng-model='new_homework.text_answer'></textarea>
                    <label>Reviewer</label>
                    <select ng-model="new_homework.reviewer" ng-options="interviewer.name for interviewer in interviewersList">
                        <option value="">-select-</option>
                    </select>
                    <label>Feedback</label>
                    <textarea ng-model='new_homework.feedback'></textarea>
                </form>
            </div>
            <div ng-show='homework'>
                {{homework}}
                <p><em>Prompt:</em></p>
                <p>{{homework.prompt}}</p>
                <p><em>Answer submitted:</em></p>
                <a ng-show='homework.attachment_url' ng-href={{homework.attachment_url}}>Attachment</a>
                <p ng-show="homework.text_answer">{{homework.text_answer}}</p>
                <span><em>Reviewer</em></span>
                    <select ng-model="homework.reviewer" ng-options="interviewer.name for interviewer in interviewersList">
                        <option value="">{{homework.reviewer}}</option>
                    </select>
                <p><em>Feedback:</em></p>
                <textarea ng-model='homework.feedback'></textarea>
            </div>
        </div>
    </div>

    <div id='phonescreen-container' ng-show="showStage==3||showStage==4" class='panel panel-default asset-container' ng-model='new_phonescreen'>
        <div class='panel-heading'>
            <span>Phone Screen</span>
            <button  class='btn btn-default float-right red'>&times;</button>
        </div>
        <div class='panel-body'>
            Phone screen info here
        </div>
    </div>
    <div id='phonescreen-container' ng-show="showStage==5||showStage==6" class='panel panel-default asset-container' ng-model='new_phonescreen'>
        <div class='panel-heading'>
            <span>In Person Interviews</span>
            <button  class='btn btn-default float-right red'>&times;</button>
        </div>
        <div class='panel-body'>
            In Person Interview information goes here.
        </div>
    </div>

    <div id="tasks-container" class="panel panel-primary">
        <div class="panel-heading">
            <!-- Button trigger modal -->
            <button id="add-task-button" onclick="$('#newTaskModal').modal('show');" class="add-btn btn btn-success">+</button>
            <span>Tasks</span>
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Task</th>
                        <th>Date</th>
                        <th>Assigned</th>
                        <!-- <th>Feedback Due</th> -->
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in totalTasks | orderBy:'date'" class="failed-{{task.pass==0}} passed-{{task.pass==1 && task.completed==1}} popover-hover" data-container="body" data-toggle="popover" data-placement="top" data-content={{task.description}} data-original-title="Task Description:" title="">
                        <td class="width-10">
                            <a id="delete-task-btn" ng-click="deleteTask(task)" class="red cursor-pointer">&times;</a>
                        </td>
                        <td>
                            <button id="edit-task-btn" ng-click="editTask(task)" class="btn btn-warning small-btn">edit &gt;</button>
                        </td>
                        <td class="task-title">
                            <span>{{task.title}}</span>
                        </td>
                        <td class="task-date">
                            <span>{{task.date | date:'MM/dd/yyyy @ h:mma'}}</span>
                        </td>
                        <td class="task-assignee">
                            <a ng-href="/interviewer?id={{task.interviewer}}">{{interviewersMap[task.interviewer].name}}</span>
                        </td>
                       <!--  <td class="task-feedback-due">
                            <span>{{task.feedback_due | date:'MM/dd/yyyy'}}</span>
                        </td> -->
                        <td class="task-feedback-due">
                            <span>{{task.feedback}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- New Task Modal -->
  <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form ng-submit="addTask(new_task)" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">New Task</h2>
        </div>
        <div class="modal-body">
            <span class='new-input-container'>Title: <input id='new-task-title' required type='text' size="25" placeholder='eg, phone screen' ng-model='new_task.title'></span>
            <span class='new-input-container'>Interviewer assigned: 
                <select required id='new-task-interviewer' ng-model="new_task.interviewer" ng-options="interviewer.name for interviewer in interviewersList">
                    <option value="">-select-</option>
                </select>
            </span>
            <span class='new-input-container'>Date occurring: 
                <input size="10" data-date-format="dd-mm-yyyy" placeholder="Choose Date" type="text" value="" id="new-task-date">
            </span>
            <!-- <span class='new-input-container'>Feedback due: 
                <input size="10" data-date-format="dd-mm-yyyy" placeholder="Choose Date" type="text" value="" id="new-task-feedback-due">
            </span> -->
            <span class='new-input-container task-textarea-container'>Task Description: <textarea ng-model='task.description' class='task-textarea'></textarea></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
          <button type="submit" class="btn btn-success">SAVE</button>
        </div>
      </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

    <!-- EDIT Task Modal -->
  <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form ng-submit="updateTask()" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title"><input ng-model="edit_task.title"></h2>
        </div>
        <div class="modal-body">
            <h4 class='text-center gray'>Status: 
                <span ng-show="edit_task.pass==0" class="red text-center">FAILED</span> 
                <span ng-show="edit_task.pass==1 && edit_task.completed==1" class="green">PASSED</span>
                <span ng-show="edit_task.completed==0" class="gray">INCOMPLETE</span>
            </h3>
            <span class='new-input-container'>Interviewer assigned: 
                <select id='new-task-interviewer' ng-model="edit_task.interviewer" ng-options="interviewer.name for interviewer in interviewersList">
                    <option value="">-select-</option>
                </select>
            </span>
            <span class='new-input-container'>Date occurring: 
                <input size="10" data-date-format="dd-mm-yyyy" placeholder="Choose Date" type="text" value="" id="edit-task-date">
            </span>
            <!-- <span class='new-input-container'>Feedback due: 
                <input size="10" data-date-format="dd-mm-yyyy" placeholder="Choose Date" type="text" value="" id="edit-task-feedback-due"> -->
            </span>
            <span class='new-input-container task-textarea-container'>Task Description: <textarea ng-model='edit_task.description' class='task-textarea'></textarea></span>
            <span class='new-input-container task-textarea-container'>Feedback: 
                <textarea ng-model='edit_task.feedback' class='task-textarea'></textarea>
            </span>
            <span class='new-input-container'>
                <button id='edit-task-pass-btn' ng-click="passTask()" class="btn btn-default">Pass</button>
                <button id='edit-task-fail-btn' ng-click="failTask()" class="red btn btn-default">Fail</button>
            </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
          <button type="submit" class="btn btn-success">SAVE</button>
        </div>
      </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

    <link href="lib/date-picker/datepicker.css" rel="stylesheet">
    <script src="lib/date-picker/bootstrap-datepicker.js"></script>

    <!-- spinner to show when waiting for uploads -->
    <link rel="stylesheet" href="/lib/spinner-master/spinner.css" type="text/css">
    <script type="text/javascript" src="/lib/spinner-master/spinner.js"></script>
