a { cursor: pointer; }

input[type='file'] {
	max-width: 200px;
}

.red, .red-true { color: red;}
.gray {color: gray;}
.green { color: green; }
.orange { color: orange;}

.width-10 { max-width: 10px; }
.width-40{ width: 40%; }
.width-60{ max-width: 60%; }
.width-100{ width: 100%; }

.padding-left-60, #interviewers-container .padding-left-60{ padding-left: 60px; }

.inline-block{ display: inline-block; }
div.float-left, .float-left{ float:left; }
.text-center { text-align: center; }
div.text-left, .text-left{ text-align: left; }
.float-right{ float: right; }
div.text-right, .text-right, .text-right input{ text-align: right; }

.cursor-pointer{ cursor: pointer; }

#flash-message {
	background-color: yellow;
}

/********************* nav **********************/
.nav-left{
	float: left;
	padding: 15px;
}
.nav-left a{
	margin: 20px;
	text-decoration: none;
}


em{
	font-style: normal;
	font-weight: bold;
}

input{
	border-radius: 8px;
	border: none;
	padding: 2px 8px;
	font-size: 14px;
	color: #575757;
}
h3 input{
	font-size: 25px;
	font-weight: 500;
}


#error{
	margin: auto;
	color: red;
}
tr.completed-1.failed-1{
	background-color: rgba(0,255,0,0.2);
}
tr.failed-1:hover{
	background-color: rgba(0,255,0,0.4);
}
tr.completed-1.failed-0{
	background-color: rgba(255,0,0,0.2);
}
tr.failed-0:hover{
	background-color: rgba(255,0,0,0.4);
}
.main-container{
	margin-top: 30px;
}
.dropdown-item {
	padding: 4px 10px;
}
.dropdown-item img{
	margin-right: 10px;
}
tr.passed-true td{
	background-color: rgba(0,255,0,0.1);
}
tr.failed-true td{
	background-color: rgba(255,0,0,0.1);
}
/************ index page *******/
#listings-div {
	text-align: center;
}
.index-half-left, .index-half-right {
	text-align: center;	
}
.index-half-left{
	margin-left: 40px;
}
.index-half-right{
	margin-right: 40px;
	float: right;
}
.index-half-btn{
	padding: 20px;
}
.index-description {
	color: gray;
	padding: 50px;
	width: 70%;
	margin: auto;
}
.btn h3, .btn h5 {
	margin: 0;
}
button.small-btn,.small-btn {
	padding: 2px 4px;
	font-size: 11px;
	border-radius: 3px;
}
.delete-link{
	float: right;
	margin-right: 60px;
	color: red;
	text-decoration: underline;
	font-weight: bold;
}
.delete-link:hover {
	cursor: pointer;
}

.add-btn{
	font-size: 22px;
	padding: 0;
	width: 30px;
	margin-right: 15px;
}
.panel-heading{
	font-size: 20px;
}
.search {
	border-radius: 8px;
	border: none;
	font-size: 14px;
	padding: 4px 4px 4px 8px;
	float: right;
}

/********** New/edit modal *****************/
#newApplicantModal .modal-content{
  background: url(../img/la-fleur-vintage-floral.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#newTaskModal .modal-content{
  background: url(../img/phones-pattern.jpg) repeat center center fixed; 
}
#editTaskModal .modal-content, #newInterviewerModal .modal-content{
	background-color: black;
}
#editTaskModal .close, #newInterviewerModal .close{
	color: gray;
	background-color: black;
	opacity: 1;
}#editTaskModal .close:hover, #newInterviewerModal .close:hover{
	color: white;
}
#newTaskModal .modal-header{
	color: black;
}
#newListingModal .modal-header {
	color: purple;
}
.modal-header input{
	color: white;
	background-color: transparent;
	font-size: 35px;
}
.modal-header{
	color: white;
	z-index: 1;
}
.modal-body {
	background-color: #F0F0F0;
}
.modal-footer{
	margin: 0;
}
.new-input-block input{
	display: block;
	margin: 5px auto;
	width: 90%;
}
.new-input-block textarea{
	display: block;
	margin: 5px auto;
	width: 90%;
}
.new-input-container,.new-input-block{
	margin: auto;
	width: 90%;
	display: block;
	padding: 10px 50px;
	font-weight: bold;
	color: gray;
}
.new-input-container input, .new-input-container select, .new-input-container textarea{
	float: right;
}
.new-input-container input[type='file'] {
	max-width: 190px;
}
.datepicker{z-index: 1051;} /* more than the modal */
.new-input-container input.error, .new-input-container select.error{
	border: 1px solid red;
}
.task-textarea{
	height: 70px;
	width: 100%;
}
.task-textarea-container{
	height: 100px;
}
#new-applicant-status{
	text-align: center;
}
#new-applicant-status .status{
	display: inline-block;
	color: orange;
}
select.small {
	width: 15px;
	border: none;
	background-color: black;
	color: white;
}
#new-applicant-status select{
	color: orange;
}

/********** Inteviewer **********/
#interviewer-page .title-none{
	color: gray;
	margin-bottom: 50px;
}

#file-upload-container{
	display: block;
	padding-bottom: 4px;
}
#file-upload-container input{
	display: inline-block;
}

.interviewer-info-name{
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
}
input.interviewer-info-name{ margin: 0;}
#info-well-container, #interviewer-info-well-container{
	float: left;
	width: 100%;
}
#info-well-container h3{
	margin-top: 0;
}
#listing-page #flash-message {
	position: absolute;
	left: 45%;
}
#listing-info-well,#interviewer-info-well{
	margin: 0;
}
#listing-description{
	border-color: rgba(0,0,200,0.1);
}
#interviewer-tasks-heading{
	display: block;
	border-bottom: 3px solid gray;
	padding: 0 10px 10px 10px;
	margin-bottom: 30px;
}
#interviewer-page #tasks-container {
	border-bottom: 3px solid gray;
	margin-bottom: 100px;
}
#interviewer-page .pending-title{
	margin-left: 90px;
	color: gray;
}
#interviewer-page #stages-container {
	border-bottom: none;
}
#interviewer-page .stage-column {
	height: 220px;
}
#interviewer-page .stage-column-inner {
	height: 180px;
}


/***** Interviewers *****/
#interviewers-container{
	margin-bottom: 60px;
}

.pic-upload{
	width: 190px;
}


/***** Applicants *****/

#no-pending-container { height: 50px; }
#pending-container{
	width: 100%;
}
#pending-container .title{
	text-decoration: underline;
	text-align: right;
	margin-right: 20px;
}
#applicants-all .pending-applicant{
	display: block;
	width: 100%;
	float: right;
	margin: 3px;
}
.pending-applicant a{
	background-color: yellow;
	padding: 3px;
	cursor: pointer;
	margin-left: 10px;
}
#applicants-all .pending-applicant a{
	text-align: right;
	float: right;
}

#applicants-heading, #responsibilities-heading, #roles-heading, #interviewers-heading, #listings-heading{
	display: block;
	border-bottom: 3px solid gray;
	padding: 0 10px 10px 10px;
	margin-bottom: 30px;
}#roles-heading, #responsibilities-heading{
	margin: 0;
}
#interviewers-heading{ margin-top: 20px; }
#applicants-heading .add-btn, #interviewers-heading .add-btn{
	margin-bottom: 10px;
}
#responsibilities-heading-title,#roles-heading-title,#listings-heading-title,#applicants-heading-title, #interviewers-heading-title{
	display: inline-block;
}

#stages-container{
	margin-bottom: 50px;
	padding-bottom: 30px;
	border-bottom: 3px solid gray;
}

.stage-column{
	width: 16%;
	display: inline-block;
	vertical-align: top;
}
.stage-column .well{
	padding: 10px;
}
.stage-column-title-container{
	display: block;
	height: 50px;
	text-align: center;
}
.stage-column-title-container h5{
	font-weight: bold;
}
.stage-column-inner{
	height: 350px;
	overflow-y: scroll;
}
.applicant-card{
	margin: 5px 0;
	background-color: white;
	border: 1px solid rgba(255,165,0,0.5);
	padding: 5px;
	font-size: 12px;
	cursor: pointer;
}
.applicant-card:hover{
	background-color: rgba(255,165,0,0.3);
}
.applicant-card a{
	display: block;
}
.applicant-card-name, .applicant-card-position, .applicant-card-goalie{
	display: inline-block;
	width: 100%;
}
.applicant-card-name{
	font-weight: 500;
	text-transform: uppercase;
	color: purple;
}
.applicant-card-position{
	font-size: 8px;
	text-transform: uppercase;
	color: gray;
}
.applicant-card-goalie{
	font-size: 12px;
}
.applicant-card-goalie img{
	float: right;
}

#rejected-hired-container{
	border-bottom: 3px solid gray;
	margin-bottom: 60px;
	padding-bottom: 30px;
}





/***** Applicant *****/
#applicant-stage-container {
	border-bottom: 3px solid gray;
	margin-top: 10px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	float: left;
	width: 100%;
}
#applicant-page .stage-column{
	width: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	margin-left: 10px;
	white-space: nowrap;
}
#applicant-page .stage-column h6{
	margin-left: 15px;
}
#applicant-page .stage-column h6{
	padding-bottom: 20px;
	display: inline;
	margin-right: 10px;
}
#applicant-page .prev-stage-true h6{
	color: green;
	opacity: 0.7;
}
#applicant-page .future-stage-true h6{
	color: gray;
	font-weight: normal;
}
#applicant-page .current-stage-true h6{
	color: orange;
	font-weight: bold;
	font-size: 13px;
}
#failed-banner {
	padding: 0;
	margin: 0 0 40px 0;
}

.task-feedback-due{
	max-width: 300px;
}


.asset-container {
	margin-top: 45px;
}
/********* Homework ****************/
#homework-container form label, #homework-container form textarea,#homework-container form select,  #homework-container form input {
	float: left;
	clear: both;
}
 #homework-container form textarea {
 	width: 90%;
 }












